html, body {
    font-family: 'Montserrat', sans-serif;!important;
}
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1400px;
}
.banner.top img {
    margin: -10% auto;
    max-width: 100%;
}
.card1 {
  padding: 10px 10px 10px 10px;
  margin-top: -0.8em;
  background-color: #fff !important;
  box-shadow: var(--shadow-default);
  border-radius: var(--border-radius);
  border-color: transparent;
}
.card-title {
    font-size: 1rem!important;
    font-weight: 400!important;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(34 34 34)!important;
}
.navbar-nav .nav-link {
    font-weight: 400!important;
}
.home-categories .card .fa {
    color: #5684e1!important;
}
.galleryTitle {
    font-size: 1rem!important;
}
@media all and (min-width:50px) and (max-width: 613px) {
	.col-6 {
    flex: 0 0 auto;
	}
	.btn-group-lg>.btn, .btn-lg {
    width: 100%!important;
	}
	.nav {
    display: none;
	}
	.breadcrumb {
    display: none;
	}
}
@media all and (min-width:50px) and (max-width: 991px) {
	.nav {
    display: none;
	}

} 
.payment-method {
    margin: 25px 0px 25px 0px!important;
}
.list-group-item {
    margin: 10px 0px 10px 0px!important;
}
.reserve-not-met .text-success {
    color: #00eb48!important;
}

.categories {
    display:none
}
.breadcrumb {
    display: none;
}
.bg-info {
    background-color: #1c1c1c!important;
}
.navbar-brand {
    max-width: 100%;
    height: auto;
    width: 200px;
}

@media (min-width: 1200px) {
.col-xl-3 {
    width: 33.333%;
}
}

------ pricing table ------

.panel-pricing {
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.panel-pricing .panel-heading {
  padding: 20px 10px;
}
.panel-pricing .panel-heading .fa {
  margin-top: 10px;
  font-size: 58px;
}
.panel-pricing .list-group-item {
  color: #777777;
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
}
.panel-pricing .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.panel-pricing .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.panel-pricing .panel-body {
  background-color: #f0f0f0;
  font-size: 40px;
  color: #777777;
  padding: 20px;
  margin: 0px;
}
.galleryTime--active {
    font-weight: 600!important;
    font-family: monospace!important;
    float: right!important;
}
.galleryData--title {
    font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 600;
}
.timeLabel, .qtyLabel {
    float: right;
    font-weight: 600;
}
.badge {
    text-align: left;
}
.galleryImage {
    aspect-ratio: 16/9 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-click {
    border: 0.01em solid #97979733 !important;
}
.galleryData--title {
    display: block!important;
}
@media only screen and (max-width: 768px) { /* or 480px if you want to target smaller devices */
  .galleryUnitm {
    max-width: 300px;
  }
}
.galleryUnitm {
    position: relative;
    margin-bottom: 1rem;
  }
.galleryUnitm .galleryImage img {
    filter: grayscale(100%);
}
